
          <hr>
          <div style="counter-reset: paper-counter {% bibliography_count -f papers %}">
          <div class="publications">
            <h2>Publications</h2>
            {% bibliography -f papers %}
          </div>
          </div>
