
          <hr>
          <div style="counter-reset: paper-counter {% bibliography_count -f papers -q @*[selected=true]* %}">
          <div class="publications">
            <h2>Publications</h2>
            {% bibliography -f papers -q @*[selected=true]* %}
          </div>
          </div>
